In [1]:
import pandas as pd
import numpy as np

### Loading teh data

In [84]:
data = pd.read_csv("C:\\Users\\Rajesh Singh\\Desktop\\data science\\1.Python\python_interview questions_and_someassignments\\python_practice\\pokemon.csv")

### Exploring the data

In [85]:
data.head()

,id,num,name,img,type__001,type__002,height,weight,candy,candy_count,...,weaknesses__002,weaknesses__003,weaknesses__004,weaknesses__005,weaknesses__006,weaknesses__007,prev_evolution__num,prev_evolution__name,next_evolution__num,next_evolution__name
0,1.0,1.0,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,Grass,Poison,0.71 m,6.9 kg,Bulbasaur Candy,25.0,...,Ice,Flying,Psychic,NaN,NaN,NaN,NaN,NaN,2.0,Ivysaur
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Venusaur
2,2.0,2.0,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,Grass,Poison,0.99 m,13.0 kg,Bulbasaur Candy,100.0,...,Ice,Flying,Psychic,NaN,NaN,NaN,1.0,Bulbasaur,3.0,Venusaur
3,3.0,3.0,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,Grass,Poison,2.01 m,100.0 kg,Bulbasaur Candy,NaN,...,Ice,Flying,Psychic,NaN,NaN,NaN,1.0,Bulbasaur,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Ivysaur,NaN,NaN

In [86]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    151 non-null    float64
 1   num                   151 non-null    float64
 2   name                  151 non-null    object
 3   img                   151 non-null    object
 4   type__001             151 non-null    object
 5   type__002             62 non-null     object
 6   height                151 non-null    object
 7   weight                151 non-null    object
 8   candy                 151 non-null    object
 9   candy_count           70 non-null     float64
 10  egg                   151 non-null    object
 11  spawn_chance          151 non-null    float64
 12  avg_spawns            151 non-null    float64
 13  spawn_time            145 non-null    object
 14  multipliers           0 non-null      float64
 15  multipliers__001      70 non-null     float64
 16  multipliers__002      37 non-null     float64
 17  weaknesses__001       151 non-null    object
 18  weaknesses__002       129 non-null    object
 19  weaknesses__003       91 non-null     object
 20  weaknesses__004       49 non-null     object
 21  weaknesses__005       19 non-null     object
 22  weaknesses__006       11 non-null     object
 23  weaknesses__007       2 non-null      object
 24  prev_evolution__num   88 non-null     float64
 25  prev_evolution__name  88 non-null     object
 26  next_evolution__num   88 non-null     float64
 27  next_evolution__name  88 non-null     object
dtypes: float64(10), object(18)
memory usage: 40.6+ KB

In [87]:
data.describe()

,id,num,candy_count,spawn_chance,avg_spawns,multipliers,multipliers__001,multipliers__002,prev_evolution__num,next_evolution__num
count,151.000000,151.000000,70.000000,151.000000,151.000000,0.0,70.000000,37.000000,88.000000,88.000000
mean,76.000000,76.000000,57.300000,0.731985,53.992603,NaN,2.079000,2.506486,60.931818,62.147727
std,43.734045,43.734045,48.897512,1.956376,111.156064,NaN,1.085899,1.675724,41.588790,41.582086
min,1.000000,1.000000,12.000000,0.000000,0.000000,NaN,1.010000,1.090000,1.000000,2.000000
25%,38.500000,38.500000,31.250000,0.015500,1.450000,NaN,1.640000,1.840000,26.500000,27.500000
50%,76.000000,76.000000,50.000000,0.074000,7.200000,NaN,1.960000,2.200000,60.000000,61.500000
75%,113.500000,113.500000,50.000000,0.620000,55.000000,NaN,2.260000,2.480000,90.500000,91.500000
max,151.000000,151.000000,400.000000,15.980000,712.000000,NaN,10.100000,11.800000,148.000000,149.000000

In [88]:
data.columns

Index(['id', 'num', 'name', 'img', 'type__001', 'type__002', 'height',
       'weight', 'candy', 'candy_count', 'egg', 'spawn_chance', 'avg_spawns',
       'spawn_time', 'multipliers', 'multipliers__001', 'multipliers__002',
       'weaknesses__001', 'weaknesses__002', 'weaknesses__003',
       'weaknesses__004', 'weaknesses__005', 'weaknesses__006',
       'weaknesses__007', 'prev_evolution__num', 'prev_evolution__name',
       'next_evolution__num', 'next_evolution__name'],
      dtype='object')

In [89]:
# define numerical and categorical featutres
num_fea = [fea for fea in data.columns if data[fea].dtype !='O']
cat_fea = [fea for fea in data.columns if data[fea].dtype =='O']

# print
print(f'We have {len(num_fea)} numerical features : {num_fea}')
print(f'We have {len(cat_fea)} categorical features : {cat_fea}')

We have 10 numerical features : ['id', 'num', 'candy_count', 'spawn_chance', 'avg_spawns', 'multipliers', 'multipliers__001', 'multipliers__002', 'prev_evolution__num', 'next_evolution__num']
We have 18 categorical features : ['name', 'img', 'type__001', 'type__002', 'height', 'weight', 'candy', 'egg', 'spawn_time', 'weaknesses__001', 'weaknesses__002', 'weaknesses__003', 'weaknesses__004', 'weaknesses__005', 'weaknesses__006', 'weaknesses__007', 'prev_evolution__name', 'next_evolution__name']

In [90]:
#proportion of value_counts of each categorical columns
for col in cat_fea:
 print(data[col].value_counts(normalize=True)*100)
 print('----------------------------')

Bulbasaur    0.662252
Drowzee      0.662252
Krabby       0.662252
Kingler      0.662252
Voltorb      0.662252
               ...
Meowth       0.662252
Persian      0.662252
Psyduck      0.662252
Golduck      0.662252
Mew          0.662252
Name: name, Length: 151, dtype: float64
----------------------------
http://www.serebii.net/pokemongo/pokemon/001.png    0.662252
http://www.serebii.net/pokemongo/pokemon/096.png    0.662252
http://www.serebii.net/pokemongo/pokemon/098.png    0.662252
http://www.serebii.net/pokemongo/pokemon/099.png    0.662252
http://www.serebii.net/pokemongo/pokemon/100.png    0.662252
                                                      ...
http://www.serebii.net/pokemongo/pokemon/052.png    0.662252
http://www.serebii.net/pokemongo/pokemon/053.png    0.662252
http://www.serebii.net/pokemongo/pokemon/054.png    0.662252
http://www.serebii.net/pokemongo/pokemon/055.png    0.662252
http://www.serebii.net/pokemongo/pokemon/151.png    0.662252
Name: img, Length: 151, dtype: float64
----------------------------
Water       18.543046
Normal      15.894040
Poison       9.271523
Grass        7.947020
Fire         7.947020
Bug          7.947020
Electric     5.960265
Rock         5.960265
Ground       5.298013
Psychic      5.298013
Fighting     4.635762
Ghost        1.986755
Dragon       1.986755
Ice          1.324503
Name: type__001, dtype: float64
----------------------------
Poison      30.645161
Flying      30.645161
Ground       9.677419
Psychic      9.677419
Water        6.451613
Ice          4.838710
Grass        3.225806
Rock         3.225806
Fighting     1.612903
Name: type__002, dtype: float64
----------------------------
0.99 m    13.245033
0.79 m     6.622517
0.30 m     6.622517
1.30 m     6.622517
0.41 m     6.622517
1.50 m     5.960265
0.61 m     5.298013
1.09 m     5.298013
1.60 m     5.298013
1.19 m     5.298013
0.51 m     4.635762
1.40 m     3.973510
0.89 m     3.973510
0.71 m     3.973510
1.70 m     3.973510
2.01 m     3.311258
1.80 m     1.986755
1.91 m     1.324503
2.21 m     1.324503
3.51 m     0.662252
0.20 m     0.662252
8.79 m     0.662252
6.50 m     0.662252
2.49 m     0.662252
2.11 m     0.662252
3.99 m     0.662252
Name: height, dtype: float64
----------------------------
30.0 kg     4.635762
60.0 kg     2.649007
4.0 kg      2.649007
55.0 kg     1.986755
120.0 kg    1.986755
              ...
76.6 kg     0.662252
19.6 kg     0.662252
4.2 kg      0.662252
33.3 kg     0.662252
122.0 kg    0.662252
Name: weight, Length: 108, dtype: float64
----------------------------
None                        17.880795
Bulbasaur Candy              1.986755
Nidoran â™‚ (Male) Candy       1.986755
Eevee Candy                  1.986755
Gastly Candy                 1.986755
Geodude Candy                1.986755
Bellsprout Candy             1.986755
Charmander Candy             1.986755
Abra Candy                   1.986755
Poliwag Candy                1.986755
Oddish Candy                 1.986755
Machop Candy                 1.986755
Nidoran â™€ (Female) Candy     1.986755
Pidgey Candy                 1.986755
Squirtle Candy               1.986755
Caterpie Candy               1.986755
Weedle Candy                 1.986755
Dratini Candy                1.986755
Paras Candy                  1.324503
Venonat Candy                1.324503
Shellder Candy               1.324503
Jigglypuff Candy             1.324503
Drowzee Candy                1.324503
Krabby Candy                 1.324503
Voltorb Candy                1.324503
Exeggcute Candy              1.324503
Cubone Candy                 1.324503
Koffing Candy                1.324503
Rhyhorn Candy                1.324503
Horsea Candy                 1.324503
Goldeen Candy                1.324503
Staryu Candy                 1.324503
Magikarp Candy               1.324503
Vulpix Candy                 1.324503
Kabuto Candy                 1.324503
Grimer Candy                 1.324503
Seel Candy                   1.324503
Doduo Candy                  1.324503
Spearow Candy                1.324503
Meowth Candy                 1.324503
Psyduck Candy                1.324503
Mankey Candy                 1.324503
Growlithe Candy              1.324503
Pikachu Candy                1.324503
Zubat Candy                  1.324503
Ekans Candy                  1.324503
Rattata Candy                1.324503
Tentacool Candy              1.324503
Sandshrew Candy              1.324503
Ponyta Candy                 1.324503
Slowpoke Candy               1.324503
Clefairy Candy               1.324503
Magnemite Candy              1.324503
Dugtrio                      0.662252
Omanyte Candy                0.662252
Diglett Candy                0.662252
Name: candy, dtype: float64
----------------------------
Not in Eggs      50.993377
5 km             27.814570
10 km            11.258278
2 km              9.271523
Omanyte Candy     0.662252
Name: egg, dtype: float64
----------------------------
23:40    2.758621
01:51    2.758621
04:10    1.379310
02:30    1.379310
12:28    1.379310
           ...
02:22    0.689655
02:31    0.689655
01:22    0.689655
01:42    0.689655
23:38    0.689655
Name: spawn_time, Length: 125, dtype: float64
----------------------------
Electric    27.814570
Fire        18.543046
Water       17.880795
Ground      12.582781
Fighting    10.596026
Bug          5.298013
Flying       4.635762
Ice          2.649007
Name: weaknesses__001, dtype: float64
----------------------------
Grass       31.782946
Psychic     15.503876
Ice         13.953488
Ground       9.302326
Rock         8.527132
Flying       6.201550
Ghost        6.201550
Electric     4.651163
Water        1.550388
Dragon       1.550388
Bug          0.775194
Name: weaknesses__002, dtype: float64
----------------------------
Rock        18.681319
Ice         16.483516
Flying      10.989011
Psychic      9.890110
Fairy        9.890110
Dark         8.791209
Fighting     7.692308
Poison       5.494505
Ground       4.395604
Bug          3.296703
Ghost        3.296703
Dragon       1.098901
Name: weaknesses__003, dtype: float64
----------------------------
Psychic     24.489796
Rock        22.448980
Flying      14.285714
Fighting    12.244898
Ghost        8.163265
Ground       8.163265
Dark         6.122449
Steel        2.040816
Fairy        2.040816
Name: weaknesses__004, dtype: float64
----------------------------
Ground    31.578947
Bug       26.315789
Dark      21.052632
Rock      10.526316
Fairy      5.263158
Steel      5.263158
Name: weaknesses__005, dtype: float64
----------------------------
Steel    63.636364
Rock     18.181818
Ghost    18.181818
Name: weaknesses__006, dtype: float64
----------------------------
Dark    100.0
Name: weaknesses__007, dtype: float64
----------------------------
Eevee              3.409091
Bulbasaur          2.272727
Nidoran(Female)    2.272727
Machop             2.272727
Geodude            2.272727
                     ...
Psyduck            1.136364
Mankey             1.136364
Growlithe          1.136364
Ivysaur            1.136364
Dragonair          1.136364
Name: prev_evolution__name, Length: 70, dtype: float64
----------------------------
Dragonite    2.272727
Pidgeot      2.272727
Golem        2.272727
Machamp      2.272727
Alakazam     2.272727
               ...
Primeape     1.136364
Arcanine     1.136364
Poliwhirl    1.136364
Machoke      1.136364
Kadabra      1.136364
Name: next_evolution__name, Length: 72, dtype: float64
----------------------------

### Handling missing values

In [91]:
# index values where "id" feature value is null
data[data["id"].isna()].index

Int64Index([  1,   4,   6,   9,  11,  14,  16,  19,  21,  24,  26,  29,  41,
             44,  46,  49,  59,  62,  78,  81,  83,  86,  88,  91,  93,  96,
            100, 103, 120, 123, 163, 164, 179, 182],
           dtype='int64')

In [92]:
# dropping rows where "id" column has missing values
data.drop(data[data["id"].isna()].index, inplace = True)

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 184
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    151 non-null    float64
 1   num                   151 non-null    float64
 2   name                  151 non-null    object
 3   img                   151 non-null    object
 4   type__001             151 non-null    object
 5   type__002             62 non-null     object
 6   height                151 non-null    object
 7   weight                151 non-null    object
 8   candy                 151 non-null    object
 9   candy_count           70 non-null     float64
 10  egg                   151 non-null    object
 11  spawn_chance          151 non-null    float64
 12  avg_spawns            151 non-null    float64
 13  spawn_time            145 non-null    object
 14  multipliers           0 non-null      float64
 15  multipliers__001      70 non-null     float64
 16  multipliers__002      37 non-null     float64
 17  weaknesses__001       151 non-null    object
 18  weaknesses__002       129 non-null    object
 19  weaknesses__003       91 non-null     object
 20  weaknesses__004       49 non-null     object
 21  weaknesses__005       19 non-null     object
 22  weaknesses__006       11 non-null     object
 23  weaknesses__007       2 non-null      object
 24  prev_evolution__num   72 non-null     float64
 25  prev_evolution__name  72 non-null     object
 26  next_evolution__num   70 non-null     float64
 27  next_evolution__name  70 non-null     object
dtypes: float64(10), object(18)
memory usage: 34.2+ KB

##### object columns

In [94]:
cat_fea

['name',
 'img',
 'type__001',
 'type__002',
 'height',
 'weight',
 'candy',
 'egg',
 'spawn_time',
 'weaknesses__001',
 'weaknesses__002',
 'weaknesses__003',
 'weaknesses__004',
 'weaknesses__005',
 'weaknesses__006',
 'weaknesses__007',
 'prev_evolution__name',
 'next_evolution__name']

**In the categorical columns:**
* "**type__002**" has 89 Nan values because those pokemon has only one prominent type that is mentioned in "**type_001**".
* the "**weaknesses**" columns have weaknesses mentioned of each pokemon. So from "weaknesses__002" if there are Nan values in those "weaknesses" columns, it is because they do not anymore weakness to mention.
* If "**prev_evolution_name**" and "**next_evolution_name**" have NaN values, it is because there are no corresponding Pokemon names in the "name" column of the dataframe to refer to for both.

So, i have considered these Nan values as separate categories in these categorical columns.

In [95]:
## handling "egg" and "candy" columns

In [96]:
data["egg"].unique()

array(['2 km', 'Not in Eggs', '5 km', '10 km', 'Omanyte Candy'],
      dtype=object)

In [97]:
data[data["egg"]=="Omanyte Candy"]["candy"]

170    None
Name: candy, dtype: object

In [98]:
data["candy"] = data["candy"].replace("None", "Omanyte Candy")

In [99]:
data[data["egg"]=="Omanyte Candy"]["candy"]

170    Omanyte Candy
Name: candy, dtype: object

In [100]:
data["egg"].unique()

array(['2 km', 'Not in Eggs', '5 km', '10 km', 'Omanyte Candy'],
      dtype=object)

In [101]:
# `str.replace()` is used to remove "Km" and then `pd.to_numeric()` to convert the values to numeric type. The `errors= 'coerce'` is used to convert non_numeric values to Nan
data['egg'] = pd.to_numeric(data['egg'].str.replace(' km', ''), errors='coerce')

In [102]:
data["egg"].fillna(0, inplace = True)

In [103]:
#handling "height" column
data["height"] = data["height"].str.split().str[0]
data["height"]= data["height"].astype(float)

In [104]:
# handling "weight" column
data["weight"] = data["weight"].str.split().str[0]
data["weight"]= data["weight"].astype(float)

In [105]:
##handling "spawn_time"

In [106]:
data[data["spawn_time"].isna()]

,id,num,name,img,type__001,type__002,height,weight,candy,candy_count,...,weaknesses__002,weaknesses__003,weaknesses__004,weaknesses__005,weaknesses__006,weaknesses__007,prev_evolution__num,prev_evolution__name,next_evolution__num,next_evolution__name
161,132.0,132.0,Ditto,http://www.serebii.net/pokemongo/pokemon/132.png,Normal,NaN,0.30,4.0,Omanyte Candy,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,144.0,144.0,Articuno,http://www.serebii.net/pokemongo/pokemon/144.png,Ice,Flying,1.70,55.4,Omanyte Candy,NaN,...,Electric,Rock,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,145.0,145.0,Zapdos,http://www.serebii.net/pokemongo/pokemon/145.png,Electric,Flying,1.60,52.6,Omanyte Candy,NaN,...,Rock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,146.0,146.0,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,Fire,Flying,2.01,60.0,Omanyte Candy,NaN,...,Electric,Rock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,150.0,150.0,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,Psychic,NaN,2.01,122.0,Omanyte Candy,NaN,...,Ghost,Dark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,151.0,151.0,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,Psychic,NaN,0.41,4.0,Omanyte Candy,NaN,...,Ghost,Dark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
#data["spawn_min", "spawn_sec"] = data["spawn_time"].str.split(':', expand= True)   ##gave me error that it expected 2-D array but got (151,2)
data[["spawn_min", "spawn_sec"]] = data["spawn_time"].str.split(':', expand= True)

In [108]:
data["spawn_min"].fillna(0, inplace = True)
data["spawn_sec"].fillna(0, inplace = True)

In [109]:
# converting the 'spawn_min' and 'spawn_sec' column to numeric type
data["spawn_min"] = data["spawn_min"].astype(int)
data["spawn_sec"] = data["spawn_sec"].astype(int)

In [110]:
data.drop("spawn_time", axis = 1, inplace = True)

In [111]:
data["spawn_time"] = data["spawn_min"]*60 + data["spawn_sec"]

In [112]:
data.drop(["spawn_min", "spawn_sec"], axis = 1, inplace = True)

**Now calculating spawn rate:**

In [113]:
data["spawn_rate"] = data["avg_spawns"]/data["spawn_time"]*100

In [116]:
data["spawn_rate"].min()

0.0077574047954866

In [118]:
##dropping "id" column, because "id" and "num" both have same values but "num" column is refrenced in other columns, so we will keep it
data.drop("id", axis =1, inplace = True)

In [119]:
data.reset_index(drop= True, inplace = True)

In [120]:
data

,num,name,img,type__001,type__002,height,weight,candy,candy_count,egg,...,weaknesses__004,weaknesses__005,weaknesses__006,weaknesses__007,prev_evolution__num,prev_evolution__name,next_evolution__num,next_evolution__name,spawn_time,spawn_rate
0,1.0,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,Grass,Poison,0.71,6.9,Bulbasaur Candy,25.0,2.0,...,Psychic,NaN,NaN,NaN,NaN,NaN,2.0,Ivysaur,1200,5.750000
1,2.0,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,Grass,Poison,0.99,13.0,Bulbasaur Candy,100.0,0.0,...,Psychic,NaN,NaN,NaN,1.0,Bulbasaur,3.0,Venusaur,420,1.000000
2,3.0,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,Grass,Poison,2.01,100.0,Bulbasaur Candy,NaN,0.0,...,Psychic,NaN,NaN,NaN,1.0,Bulbasaur,NaN,NaN,690,0.246377
3,4.0,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,NaN,0.61,8.5,Charmander Candy,25.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,Charmeleon,525,4.819048
4,5.0,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,NaN,1.09,19.0,Charmander Candy,100.0,0.0,...,NaN,NaN,NaN,NaN,4.0,Charmander,6.0,Charizard,1140,0.105263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147.0,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,Dragon,NaN,1.80,3.3,Dratini Candy,25.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,148.0,Dragonair,401,7.481297
147,148.0,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,Dragon,NaN,3.99,16.5,Dratini Candy,100.0,0.0,...,NaN,NaN,NaN,NaN,147.0,Dratini,149.0,Dragonite,717,0.278940
148,149.0,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,Dragon,Flying,2.21,210.0,Dratini Candy,NaN,0.0,...,Fairy,NaN,NaN,NaN,147.0,Dratini,NaN,NaN,1418,0.007757
149,150.0,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,Psychic,NaN,2.01,122.0,Omanyte Candy,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
150,151.0,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,Psychic,NaN,0.41,4.0,Omanyte Candy,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

**Analysing**

**all pokemon whose spawn_rate is less than 5%**

In [122]:
data[data["spawn_rate"]<5]["name"]

1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
          ...
140      Kabutops
141    Aerodactyl
142       Snorlax
147     Dragonair
148     Dragonite
Name: name, Length: 81, dtype: object

**pokemons who have less than 4 weaknesses**

In [126]:
# pokemon who do not have weakness mentioned in column "weaknesses__004" are the one who have less than 4 weaknesses
data[data["weaknesses__004"].isna()]["name"]

3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
          ...
145       Moltres
146       Dratini
147     Dragonair
149        Mewtwo
150           Mew
Name: name, Length: 102, dtype: object

**to find pokemons with no multipliers at all**

In [138]:
##data for pokemon who have no multiplier in the "multiplier" feature
dm_0 = data[data["multipliers"].isna()]

In [146]:
#data with no multipliers in "multipliers__001"
dm_1 = dm_0[dm_0["multipliers__001"].isna()]

In [147]:
#data with no multipliers in "multipliers__002"
dm_2 = dm_1[dm_1["multipliers__002"].isna()]

In [149]:
## pokemon that haev no multipliers at all
dm_2["name"]

2        Venusaur
5       Charizard
8       Blastoise
11     Butterfree
14       Beedrill
          ...
144        Zapdos
145       Moltres
148     Dragonite
149        Mewtwo
150           Mew
Name: name, Length: 81, dtype: object

**finding pokemon that do not have more than 2 evolutions**

In [160]:
d3 = data[["prev_evolution__name", "name", "next_evolution__name"]]

In [161]:
d3

    prev_evolution__name        name next_evolution__name
0                    NaN   Bulbasaur              Ivysaur
1              Bulbasaur     Ivysaur             Venusaur
2              Bulbasaur    Venusaur                  NaN
3                    NaN  Charmander           Charmeleon
4             Charmander  Charmeleon            Charizard
..                   ...         ...                  ...
146                  NaN     Dratini            Dragonair
147              Dratini   Dragonair            Dragonite
148              Dratini   Dragonite                  NaN
149                  NaN      Mewtwo                  NaN
150                  NaN         Mew                  NaN

[151 rows x 3 columns]

In [165]:
d2 = d3[~d3["next_evolution__name"].isna()]

In [166]:
d2

    prev_evolution__name        name next_evolution__name
0                    NaN   Bulbasaur              Ivysaur
1              Bulbasaur     Ivysaur             Venusaur
3                    NaN  Charmander           Charmeleon
4             Charmander  Charmeleon            Charizard
6                    NaN    Squirtle            Wartortle
..                   ...         ...                  ...
132                  NaN       Eevee             Vaporeon
137                  NaN     Omanyte              Omastar
139                  NaN      Kabuto             Kabutops
146                  NaN     Dratini            Dragonair
147              Dratini   Dragonair            Dragonite

[70 rows x 3 columns]

In [168]:
##these are those pokemon with more than 2 evolutions
d1 = d2[~d2["prev_evolution__name"].isna()

In [171]:
d1.index

Int64Index([1, 4, 7, 10, 13, 16, 29, 32, 43, 60, 63, 66, 69, 74, 92, 147], dtype='int64')

In [172]:
data1 = data.drop([1, 4, 7, 10, 13, 16, 29, 32, 43, 60, 63, 66, 69, 74, 92, 147])

In [174]:
##All the pokemons which do not have more than 2 evolutions
data1["name"]

0       Bulbasaur
2        Venusaur
3      Charmander
5       Charizard
6        Squirtle
          ...
145       Moltres
146       Dratini
148     Dragonite
149        Mewtwo
150           Mew
Name: name, Length: 135, dtype: object

**pokemon with spawn_time less than 300 seconds**

In [153]:
data[data["spawn_time"]<300]["name"]

6       Squirtle
8      Blastoise
10       Metapod
12        Weedle
13        Kakuna
         ...
143     Articuno
144       Zapdos
145      Moltres
149       Mewtwo
150          Mew
Name: name, Length: 81, dtype: object